@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'partials/vars';
@import 'partials/general';
@import 'partials/buttons';

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@import 'vendor/owl-carousel';
@import 'vendor/owl-theme';

@import 'partials/contact-component';
@import 'partials/navbar';
@import 'partials/hero';
@import 'partials/footer';

@import 'partials/home-page';
@import 'partials/contact-page';
@import 'partials/offer';
@import 'partials/portfolio';
@import "partials/blog";
@import 'partials/cta';
