@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Source+Serif+Pro:300,400,600,700');

@import 'partials/vars';
@import 'partials/general';
@import 'partials/buttons';

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@import 'vendor/owl-carousel';
@import 'vendor/owl-theme';

@import 'partials/contact-component';
@import 'partials/navbar';
@import 'partials/hero';
@import 'partials/footer';

@import 'partials/home-page';
@import 'partials/contact-page';
@import 'partials/offer';
@import 'partials/portfolio';
@import "partials/blog";
@import 'partials/cta';
