// Article Hero
.article-hero {
  max-width: 850px;
  margin: 0 auto;
  text-align: left;
  position: relative;

  &__wrapper {
    max-width: 700px;
    margin-right: auto;
  }

  &__title {
    color: $white;
    font-size: 3.5rem;
    line-height: 0.95em;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 1.2rem;;

    @media screen and (max-width: $break-sm-down) {
      font-size: 2.4rem;
    }
  }

}

.category-item {
  @extend .author__link;
}

// Article content
.blog-article {
  padding: 60px 0;
  max-width: 850px;
  margin: 0 auto;
  color: $mr-dark;

  h1,h2,h3,h4,h5,h6 {
    font-family: $mr-main;
    font-weight: 900;
    text-align: center;
    margin: 4.5rem 0 2.9rem;
  }

  p,li {
    font-size: 1.3rem;
    line-height: 1.5em;
    letter-spacing: -0.01em;
  }

  li {
    margin-bottom: 0.5rem;
  }

  p, ul, ol {
    margin-bottom: 1.4rem;
  }

  pre {
    background-color: $mr-dark;
    border-radius: 3px;
    color: $mr-white;
    padding: 25px;
    margin: 1.6rem 0;
  }

  &__comments {
    border-top: 1px solid $mr-grey;
    margin: 60px 0 60px;
    padding: 10px;
  }

  &__title {
    margin: 0 0 1.4rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
}
