.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.brand {
  font-size: 24px;
  color: $mr-dark;
  letter-spacing: 0.14px;
}

.navigation {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
