.project {
  width: calc(100%/2 - 10px);
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  height: 300px;
  background-size: cover;
  background-position: center;

  &__wrapper {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
      display: none;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      background-color: rgba($mr-dark, 0.78);
    }

  }

  .project__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $mr-white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    transform: translateY(20%);
    transition: all ease-in-out .3s;
    transition-delay: .1s;
    opacity: 0;

    &__content {
      text-align: center;
      font-weight: 300;
    }

    &__company {
      @extend .title__main;
      margin-bottom: 10px !important;
      text-align: center;
    }

    &__types {
      @extend .title__top;
      font-size: 0.9rem;
      text-align: center;
    }
  }

  &:hover {
    .project__image {
      &::before {
        opacity: 1;
      }
    }

    .project__info {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .14s;
    }
  }
}

.project__type {
  display: inline-block;
  position: relative;
  &:not(:first-child) {
    margin-left: 8px;
    padding-left: 10px;
    &::before {
      content: '';
      display: block;
      width: 1px;
      height: 12px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      background-color: rgba($mr-white, 0.3);
    }
  }
}

.projects-feed {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 160px;
  justify-content: space-between;

  &--partial {
    margin-bottom: 20px;
  }
}

.portfolio-content {
  &__inner {
    max-width: 800px;
    margin: 0 auto;
    img {
      max-width: 100%;
      margin: 20px auto;
    }

    h1 {
      font-family: $mr-secondary;
      font-size: 2.6rem;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 20px;
      font-size: 1.2rem;
      line-height: 1.5em;
    }
  }
}


.project-testimonial {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
