.services {
  // background-color: rgba($mr-dark, 0.04);
  position: relative;
  overflow: hidden;
  padding: 120px 0;

  &__image {
    position: absolute;
    left: -20%;
  }

  &__feed {
    margin-left: auto;
    position: relative;
    display: flex;
  }
}

.service {
  margin-bottom: 40px;
  &__name {
    font-size: 1.813rem;
    letter-spacing: -1.04px;
    margin: 0 0 0.9375rem 0;
    font-weight: 900;
    line-height: 22px;
    @media screen and (max-width: $break-sm-down) {
      font-size: 9px;
      letter-spacing: 1.51px;
    }
  }

  &__tagline {
    font-weight: 300;
    font-size: 12px;
    margin: 0 0 0.175rem 0;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    @media screen and (max-width: $break-sm-down) {
      font-size: 16px;
    }
  }

  &__excerpt {
    font-weight: 300;
    font-size: 1rem;;
    line-height: 1.5em;
    margin: 0 0 0.9375rem 0;
  }

  @media screen and (max-width: $break-md-down) {
    &:nth-child(odd) {
      margin-right: auto;
    }
  }
}


.services__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;

  @media screen and (min-width: $break-md-up) {
    margin-left: auto;
  }

}


.services-desktop {
  position: absolute;
  width: 900px;
  height: auto;
  right: -200px;
  bottom: 0;
  z-index: -1;
  @media screen and (max-width: $break-md-down) {
    display: none;
  }
}
