.testimonials {
  position: relative;
  overflow: hidden;
  &__dots {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__feed {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
}

.slider-wrapper {
  margin: 0 -15px;
  overflow: hidden;

  .slick-track > div {
    padding: 0 5px;

    @media screen and (max-width: $break-sm-down) {
      padding: 0 15px;
    }
  }

  .slick-list {
    padding: 20px 0 20px 0 !important;
  }

  .slick-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--testimonials {
    .slick-slide div {
      
      transition: opacity .3s ease-in-out;
    }

    .slick-slide.slick-current div {
      opacity: 1;
    }
  }
}
