html, body {
  font-family: $mr-main;
  font-weight: 300;
  height: 100%;
  width: 100%;

}

p, li, ol {
  font-weight: 300;
  strong {
    font-weight: 800;
  }

  a {
    color: inherit;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      color: inherit;
      opacity: 0.8;
    }
  }
}

a {
  font-weight: 800;

}

.background {
  &--down {
    background-image: linear-gradient(-180deg, rgba(238,238,238,0.28) 0%, rgba(216,216,216,0.00) 100%);
  }
  &--up {
    background-image: linear-gradient(0deg, rgba(238,238,238,0.28) 0%, rgba(216,216,216,0.00) 100%);
  }
  &--blue {
    background-image: linear-gradient(40deg, rgba(62,125,251,0.83) 0%, rgba(22,65,255,0.99) 100%);
  }
}
