body {
  font-family: $mr-main;
  font-weight: 300;
}

p, li, ol {
  font-weight: 300;
  strong {
    font-weight: 800;
  }

  a {
    color: inherit;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      color: inherit;
      opacity: 0.8;
    }
  }
}

a {
  font-weight: 800;

}
