/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$mr-white: #fff;
$mr-green: #26b7a0;
$mr-blue: #1641FF;
$mr-dark: #3d3f4c;
$mr-red: #FE5461;
$mr-yellow: #FEB64D;
$mr-grey: #CDCDCD;

// Fonts
$mr-main: "Source Sans Pro", sans-serif;


// Breakpoints
$break-sm-down: 576px;
$break-md-down: 768px;
$break-lg-down: 992px;
