@import "vars";

.module.single-post {
  padding: 60px 0 40px 0;

  .date {
    font-size: 0.95em;
    letter-spacing: 1.1pt;
    font-weight: 600;
    text-transform: uppercase;
    color: lighten($black, 22%);
  }

  .title {
    font-size: 3em;
    letter-spacing: 1.3pt;
  }

  .author {
    font-size: 1.2em;
    font-style: italic;
    color: $black;
  }
}

article.post {
  margin: 0 0 50px 0;
  padding: 0 80px 0 80px;
  @media screen and (max-width: 550px) {
    padding: 0 20px;
  }

  .entry-content {
    max-width: 810px;
    margin: 0 auto;

    .img-responsive, img {
      width: 100%;
      height: auto;
    }

    p, li {
      font-weight: 500;
      font-size: 1.3em;
      color: lighten($black, 10%);
    }

    h1,h2,h3,h4,h5,h6 {
      text-align: center;
      margin: 1.5em 0 0.5em 0;
      letter-spacing: 1.2pt;
      font-weight: bold;
    }

    h1 {
      font-size: 2.2em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.8em;
    }

    h4 {
      font-size: 1.6em;
    }

    h5 {
      font-size: 1.4em;
    }

    h6 {
      font-size: 1.2em;
    }
  }
}

.post-navigation {
  .nav-box {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;

    .overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($black,0.7);
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
    }

    &:hover .overlay {
      background-color: rgba($black, 0.4);
    }
  }

  .nav-box.multiple {
    display: inline-block;
    width: 50%;
    float: left;
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
  }

}

.post-navigation-title {
  margin: 0;
  color: white;
  text-decoration: none;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0.7px;
}

.navbar-blog {
  border-bottom: 1px solid lighten($black,70%);
  background: lighten($lightGrey,9%);
  .categories-menu {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    li {
      display: inline-block;
      padding: 0 7px;
      a {
        font-size: 1.2em;
        font-weight: 600;
        text-decoration: none;
        color: lighten($black, 40%);
        transition: color 0.4s ease-in-out;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

.module.blog-main-module {
  padding: 50px 0;

  .profile-image {
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .author-description {
    max-width: 510px;
    margin: 5px auto;
    text-align: center;
  }

  .navigation.pagination {
    display: block;
    width: 100%;
    text-align: center;
    .screen-reader-text {
      display: none;
    }
    .nav-links {
      display: block;
      width: 100%;

      .page-numbers {
        display: inline-block;
        border: 3px solid $lightGrey;
        padding: 4px 14px;
        border-radius: 4px;
        &:hover {
          border-color: lighten($black, 20%);
        }
      }

      span.page-numbers {
        border-color: lighten($black, 20%);
      }
    }
  }

  &.__author {
    padding: 0 0 50px 0;
    margin-top: -60px;

    .author-info {
      margin-bottom: 20px;
    }
  }
}

.module.__blog {
  .page-title {
    font-size: 3em;
    line-height: 0;
  }
}

.module.__blog.__author {
  padding: 120px 0;
}

.blog-row {
  padding: 20px 60px;

  @media screen and (max-width: $mobileBreak) {
    padding: 20px;
    .col-md-4:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.blog-article {
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;

  .top-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .article-content {
    padding: 30px;
    border: 1px solid $lightGrey;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .entry-meta {
      font-size: 0.95em;
    }
    .entry-title {
      font-size: 1.3em;
      line-height: normal;
      margin: 5px 0;
      a {
        color: $black;
        text-decoration: none;
      }
    }
    .entry-excerpt > p {
      padding-top: 10px;
      font-size: 1em;
      line-height: 1.4em;
    }
  }

  &:hover {
    box-shadow: 0 0 15px $lightGrey;
  }

  &:hover {
    .entry-title a {
      color: $black;
    }
  }

}

.tags {
  margin-left: -5px;
}

.tags a {
  padding: 5px 12px;
  border: 2px solid $darkblack;
  border-radius: 4px;
  color: $darkblack;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: $darkblack;
    color: white;
  }
}
