@import 'vars';
.footer {
    background-color: #292F36;
    color: white;
    padding: 70px 0px 10px 0px;

    h5 {
      text-transform: uppercase;
      letter-spacing: $spacing;
      &::after {
        content: '';
        position: relative;
        top: 7px;
        display: block;
        width: 25px;
        height: 3px;
        background: $green;
      }
    }

    ul, .description {
      padding-top: 6px;
    }

    ul li a {
      color: white;
      font-weight: 400;
      transition: all 0.4s ease-in-out;

      &:hover {
        color: $green;
        text-decoration: none;
      }
    }

    .copyright {
        padding: 30px 0 10px 0;
        font-size: 0.7em;
        font-weight: 400;
        letter-spacing: 1pt;
    }
}
