@import "vars";
.single-post {
  padding: 60px 0;
}

article.post {
  margin: 0 0 50px 0;
  padding: 0 80px 0 80px;
  @media screen and (max-width: 550px) {
    padding: 0 20px;
  }
}

.entry-content {
  max-width: 900px;
  margin: 0 auto;

  .img-responsive, img {
    width: 100%;
    height: auto;
  }

  strong, b {
    font-weight: 600;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    color: $green;
    &:hover {
      color: darken($green, 10%);
    }
  }

  p, li {
    font-size: 1.5em;
    color:$black;
  }

  h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 1.5em 0 0.5em 0;
    font-weight: bold;
  }

  h1 {
    font-size: 2.7em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2.3em;
  }

  h4 {
    font-size: 2.1em;
  }

  h5 {
    font-size: 1.9em;
  }

  h6 {
    font-size: 1.7em;
  }
}

.post-navigation {
  .nav-box {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;

    .overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($black,0.7);
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
    }

    &:hover .overlay {
      background-color: rgba($black, 0.4);
    }
  }

  .nav-box.multiple {
    display: inline-block;
    width: 50%;
    float: left;
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
  }

}

.post-navigation-title {
  margin: 0;
  color: white;
  text-decoration: none;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0.7px;
}

.navbar-blog {
  border-bottom: 1px solid lighten($black,70%);
  background: lighten($lightGrey,9%);
  .categories-menu {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    li {
      display: inline-block;
      padding: 0 7px;
      a {
        font-size: 1.2em;
        font-weight: 600;
        text-decoration: none;
        color: lighten($black, 40%);
        transition: color 0.4s ease-in-out;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

.blog-articles {
  padding: 50px;
}

.module.blog-main-module {
  padding: 50px 0;

  .profile-image {
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .author-description {
    max-width: 510px;
    margin: 5px auto;
    text-align: center;
  }

  .navigation.pagination {
    display: block;
    width: 100%;
    text-align: center;
    .screen-reader-text {
      display: none;
    }
    .nav-links {
      display: block;
      width: 100%;

      .page-numbers {
        display: inline-block;
        border: 3px solid $lightGrey;
        padding: 4px 14px;
        border-radius: 4px;
        &:hover {
          border-color: lighten($black, 20%);
        }
      }

      span.page-numbers {
        border-color: lighten($black, 20%);
      }
    }
  }

  &.__author {
    padding: 0 0 50px 0;
    margin-top: -60px;

    .author-info {
      margin-bottom: 20px;
    }
  }
}

.module.__blog {
  .page-title {
    font-size: 3em;
    line-height: 0;
  }
}

.module.__blog.__author {
  padding: 120px 0;
}

.blog-article {
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
  display: flex;
  order: 6;

  .article-content {
    .entry-meta {
      font-size: 0.95em;
    }
  }

  &:hover {
    box-shadow: 0 0 15px $lightGrey;
  }

  &:first-child {
    order: 1;
  }

  &:nth-child(2) {
    order: 2;
  }

  &:nth-child(3) {
    order: 3;
  }

  &:nth-child(4) {
    order: 4;
  }

  &--home {
    display: block;
  }
}

.blog-article__image {
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid $lightGrey;
  border-right: none;

  &--home {
    width: 100% !important;
    height: auto !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
}

.blog-article__content {
  width: 60%;
  padding: 50px 30px;
  border: 1px solid $lightGrey;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  &--home {
    width: 100%;
    padding: 0;
    border: none;

    p {
      font-size: 1.5em;
      font-family: $serif;
      color: $grey;
    }
  }
}

.blog-article__title {
  font-size: 30px;
  line-height: 1.2;
  margin: 5px 0 15px 0;
  font-weight: bold;
  a {
    color: $black;
    text-decoration: none;
  }

  &--home {
    margin: 15px 0;
  }
}

.blog-article__excerpt{
  font-size: 1.5em;
  font-family: $serif;
}

.article-content--home {
  padding: 20px 25px;
}

.tags {
  margin-left: -5px;
}

.tags a {
  padding: 5px 12px;
  border: 2px solid $darkblack;
  border-radius: 4px;
  color: $darkblack;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: $darkblack;
    color: white;
  }
}


// New Classes

.articles-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.single-article__info {
  color: $white !important;
}

.article__meta {
  max-width: 700px;
}

.category-item {
  font-size: 16px;
  margin-right: 10px;
}

.meta__article-title {
  color: $white;
  font-size: 50px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 25px;
}
.meta__author {
  display: flex;
}

.meta__categories--all .category-item {
  color: $black;
}

.category-item,
.author__link {
  color: $white;
  font-weight: bold;
  transition: 0.3s;

  &:hover {
    color: $green;
    text-decoration: none;
  }
}

.author__info {
  color: $white;
  font-size: 14px;
  margin-left: 15px;
}

.author__photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid $white;
}

.blog-slider {
  height: 100%;
  .owl-wrapper-outer {
    height: 100%;
    .owl-wrapper {
      height: 100%;
      .owl-item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 90px;
      }
    }
  }

  .owl-controls {
    position: relative;
      top: -80px;
  }
}

.promoted-article {
  width: 100%;
  height: 100%;
}

.promoted-article__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.promoted-article__title {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  font-size: 75px;
  line-height: 1.1;
  color: $white;
  font-weight: bold;
  padding: 0 20px;
  margin-bottom: 30px;
}

.promoted-article__description {
  position: relative;
  margin: 0 auto;
  z-index: 3;
  color: $white;
  max-width: 800px;
  padding: 0 20px;
  font-size: 1.5em;
  text-align: center;
  font-family: $serif;
  margin-bottom: 30px;
}

.promoted-article__button {
  position: relative;
  z-index: 3;
  text-align: center;
}
