@import 'vars';

.btn-basic {
  color: $green;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $green;
  border-radius: 4px;
  padding: 5px 20px;
  letter-spacing: $spacing;
  transition: all 400ms ease-in-out;

  &:hover {
    text-decoration: none;
    background: $green;
    color: white;
  }
}

.btn-basic--white {
  color: $white;
}

.__block {
  display: inline-block;
}

.__white {
  background: fade($black,60%);
}

.__contact-form {
  margin: 0 auto;
  border:none;
  width: 60%;
  padding: 20px;
  background-color: white;
  color: $green;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 11px 16px 1px fade(#888888, 50%);

  @media screen and (max-width: 992px){
    width: 100%;
  }

  &:hover {
    background-color: lighten($green, 20%);
  }
}
