@import 'vars';

.contact-component {
  padding: 50px 0;
  background: $green;
  color: white;
  letter-spacing: $spacing;

  .component-title {
    padding: 20px 0;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: $spacing;
  }

  .component-subtitle {
    padding-bottom: 50px;
    font-weight: bold;
    letter-spacing: $spacing;
  }

  .form {
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
      width: 80%;
    }

    @media screen and (max-width: 782px) {
      width: 100%;
    }

    .form-group {
      padding: 10px 0;
      position: relative;
      &--underline {
        &::after {
          content: '';
          position: absolute;
          display: block;
          height: 1px;
          width: 100%;
          background-color: white;
        }
      }
    }

    .input {
      outline: none;
      border: none;
      box-shadow: none;
      width: 100%;
      color: white;
      font-size: 1.1em;
      font-weight: bold;
      border-radius: 0;
      background-color: transparent;
      padding: 5px 0;

    }

  }

}

.contact-component--transparent {
  background: transparent;
  text-align: left;
}

.__underlay {
  padding-top: 150px;
}

textarea {
  resize: none;
}

.textarea {
  height: 150px;
}

.contact-component__message {
  p {
    text-align: center;
    font-family: $serif;
    margin-bottom: 0;
    font-size: 2.3rem;
  }
}


.label {
  font-size: 1.25em;
  padding: 0;
  letter-spacing: normal;
  font-family: $sans;
}
