@import "vars";

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $lightGrey;
  width: 100%;
  padding: 20px 0;
  opacity: 1;
  z-index: 9999;
  transition: transform 0.4s ease-in-out;
}
.cookies__hide {
  position: absolute;
  right: 22px;
  z-index: 9999;
  cursor: pointer;
  &__icon {
    height: 20px;
    cursor: pointer;
    width: 20px;
    color: $black;
    fill: transparent;
    stroke: $black;
  }
}

.cookies__content {
  padding-right: 25px;
  p {
    margin: 0;
    font-family: $sans;
    a {
      color: $black;
      text-decoration: underline;
    }
  }
}

.cookies--hide {
  transform: translateY(100%);
  opacity: 0;
}
