@import 'vars';

.cta {
  background-color: $green;
  color: $white;
  text-align: center;
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta--signup {
  min-height: 250px;
  padding: 30px 0;
  order: 5;
  border-radius: 5px;
  margin: 20px 0;
  @media screen and (max-width: 600px) {
    padding: 30px 15px;
  }
}

.post-signup .cta--signup {
  margin: 0;
  padding: 60px 0;
}

.cta__content--signup {
  h1 {
    font-size: 50px;
    font-weight: bold;
    @media screen and (max-width: 400px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 1.5em;
    font-family: $serif;
  }

}


.newsletter__input {
  color: $black;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 15px;
  border: none;
  padding: 0 50px 0 15px;
  height: 40px;
  box-sizing: border-box;
  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 0 5px;
    border-radius: 0;
  }
}

.newsletter__submit {
  box-sizing: border-box;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  padding: 5px 15px;
  position: relative;
  left: -40px;
  padding: 5px 35px;
  height: 40px;
  font-size: 1.5em;
  background-color: lighten($green, 20%);
  @media screen and (max-width: 600px) {
    width: 100%;
    display: block;
    left: 0;
    border-radius: 0;
    padding: 0 5px;
  }
}

.newsletter__message {
  max-width: 550px;
  margin: 10px 0;
  p {
    font-family: $sans;
    font-weight: 400;
    a {
      display: block;
      color: $white;
      font-weight: bold;
    }
  }
}




#newsletterForm {
  margin-top: 25px;
  margin-left: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 0;
  }
}
