@import 'vars';
.footer {
  background-color: #292F36;
  color: white;
  padding: 90px 0px 30px 0px;

  ul {
    padding-top: 6px;
  }
  ul li a {
    color: white;
    font-weight: 400;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $green;
      text-decoration: none;
    }
  }

  &__copyrights {
    padding: 80px 0 10px 0;
    font-weight: 400;
    color: rgba($white, 0.6);
  }

  &__brand {
    font-weight: 700;
    font-size: 2em;
    color: white;
  }

  &__menu-title {
    font-weight: 700;
    font-size: 1.5em;
    color: white;
  }

  &__menu-container li {
    padding: 2px 0;
  }

  &__about {
    padding-top: 10px;
  }

  &__brand,
  &__menu-title {
    &::after {
      content: '';
      position: relative;
      top: 7px;
      display: block;
      width: 30px;
      height: 3px;
      background: $green;
    }
  }
}
