@import 'vars';

.services {
  padding: 120px 0 150px 0;
}

.services__content {
  padding-bottom: 40px;
  text-align: center;
}

.services-list {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service-item {
  border: 2px solid $black;
  width: calc(33% - 40px);
  margin: 10px 20px 60px 20px;
  padding: 25px;
}

.service-item__name {
  font-size: 35px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: bold;
}

.service-item__description {
  font-size: 1.5em;
  font-family: $serif;
  color: $grey;
}

.portfolio-section {
  padding: 100px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  flex-shrink: 0;
  width: 50%;
  background-size: cover;
  overflow: hidden;
  &__image {
    width: 100% !important;
    height: auto;
    transition: 0.3s ease-out;
  }

  &__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba($green, 0.8);
    color: $white;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s ease-out;

    &__name {
      margin: 0 0 5px 0;
      font-weight: bold;
      font-size: 1.8em;
      width: 100%;
    }

    &__short {
      font-family: $serif;
      font-size: 1.3em;
    }

    @media screen and (min-width: 768px) {
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }
  }

  &:hover {
    .portfolio-item__description {
      opacity: 1;
    }

    .portfolio-item__image {
      filter: blur(5px);
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.testimonials {
  padding: 90px 0;
  background: lighten($lightGrey, 7%);

  .testimonial {
    width: 70%;
    margin: 0 auto;
    background: white;
    padding: 30px 90px;
    box-shadow: 0px 0px 16px -17px #292f36;

    @media screen and (max-width: 778px ) {
      padding: 30px 20px;
    }

    h2, h3 {
      padding: 2px 0;
      margin: 0;
      text-align: center;
      font-size: 1.3em;
    }

    .client {
      font-weight: 600;
    }

    .company {
      color: $grey;
      font-weight: 600;
      font-size: 1.1em;
    }

    .content {
      font-size: 1.4em;
      padding: 25px 0 10px 0;
      text-align: center;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
}

.testimonials.__invert {
  background: white;

  .testimonial {
    background: lighten($lightGrey, 7%);
  }
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: $green;
  opacity: 1;
}

.information-section {
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  .col-sm-12 {
    h1, p, a {
      margin: 20px 0;
    }
  }
}


.promoted-articles {
  padding: 100px 0;

  .articles{
    padding: 0;
    border-left: 1px solid lighten($black,78%);
    border-right: 1px solid lighten($black,78%);
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
}
