@import 'vars';

.services {
  padding: 120px 0 150px 0;
}

.services__content {
  padding-bottom: 40px;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  p {
    font-size: 1.5em;
    font-family: $serif;
    color: $grey;
  }
}

.services-list {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service-item {
  border: 2px solid $black;
  width: calc(33% - 40px);
  margin: 10px 20px 60px 20px;
  padding: 25px;
}

.service-item__name {
  font-size: 35px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: bold;
}

.service-item__description {
  font-size: 1.5em;
  font-family: $serif;
  color: $grey;
}

/** <OPINIE> **************************************************** ************************/
.testimonials{
  padding: 90px 0;
  background: lighten($lightGrey, 7%);

  .testimonial {
    width: 70%;
    margin: 0 auto;
    background: white;
    padding: 30px 90px;
    box-shadow: 0px 0px 16px -17px #292f36;

    @media screen and (max-width: 778px ) {
      padding: 30px 20px;
    }

    h2, h3 {
      padding: 2px 0;
      margin: 0;
      text-align: center;
      font-size: 1.3em;
    }

    .client {
      font-weight: 600;
    }

    .company {
      color: $grey;
      font-weight: 600;
      font-size: 1.1em;
    }

    .content {
      font-size: 1.4em;
      padding: 25px 0 10px 0;
      text-align: center;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
}

.testimonials.__invert {
  background: white;

  .testimonial {
    background: lighten($lightGrey, 7%);
  }
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: $green;
  opacity: 1;
}
/** </OPINIE> **************************************************** ************************/

/** <PORTFOLIO> **************************************************** ************************/

/** </PORTFOLIO> **************************************************** ************************/

/** <INFORMATION> **************************************************** ************************/
.information-section {
  padding: 110px 0;
  background-position: center;
  background-size: cover;

    .col-sm-12 {
      h1, p, a {
        margin: 20px 0;
      }
      h1 {
        color: white;
      }
      p {
        color: $grey;
      }
    }
}

/** </INFORMATION> **************************************************** ************************/

/** <BLOG ARTICLES> **************************************************** ************************/
.promoted-articles {
  padding: 0 0 30px 0;

  .half-container {
    width: 585px;
    float: right;

    @media screen and (max-width: 968px) {
      width: 100%;
      float: none;
      text-align: center;
    }
  }

  @media screen and (max-width: 992px) {
    div#articlesTitle.col-md-6 {
      height: auto !important;
      padding-top: 0 !important;
    }
  }

  .articles{
    padding: 0;
    border-left: 1px solid lighten($black,78%);
    border-right: 1px solid lighten($black,78%);
  }
}

.promoted-articles-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 50px;

  p {
    padding-bottom: 10px;
  }

  @media screen and (max-width: 992px) {
    padding: 30px 0;
    text-align: center;
    width: 100%;
  }
}
