@import 'vars';
.navbar-toggle {
  margin-right: 25px;
  .icon-bar {
    background-color: $white;
    transition: 0.1s ease-in-out;
  }
  &:hover .icon-bar {
    background-color: $green;
  }
}
.navbar-mr {
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  transition: all 400ms ease-in-out;
  @media screen and (max-width: 768px) {
    background: rgba($darkblack, 90%);
    box-shadow: 0 0 15px 0 rgba($darkblack, 0.5);

    .container {
      padding: 10px 0;
      border-bottom: none;
    }

    ul li a {
      &::after {
        top: 24px;
      }
    }
  }

  &.scrolling {
    background: rgba($darkblack, 90%);
    box-shadow: 0 0 15px 0 rgba($darkblack, 0.5);

    .container {
      padding: 10px 0;
      border-bottom: none;
    }

    ul li a {
      &::after {
        top: 24px;
      }
    }

  }

  .container {
    padding: 20px 0;
    transition: all 400ms ease-in-out;
  }

  .navbar-header {
    @media only screen and (min-width: 768px) and (max-width: 991px){
      text-align: center;
      display: block;
      a {
        text-align: center;
        width: 100%;
      }
    }
  }

  .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    @media only screen and (max-width: 768px) {
      margin-left:35px;
    }
  }

  ul {
    float: right;
    @media only screen and (max-width: 768px) {
      float:none;
      text-align: center;

      .btn-wycena {
        width: 50%;
        margin: 0 auto;
      }
    }
    li {
      position: relative;
      top: 2px;
      a {
        letter-spacing: $spacing;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 150ms ease-in-out;
        margin-left: 5px;
        font-size: 1.04em;
        letter-spacing: 0.3em;
        &:hover {
          color: $green;
          background-color: transparent;

          &::after {
            width: 100%;
          }

          @media screen and (max-width: 768px) {
            &::after {
              width: 0;
            }
          }
        }



        &::after {
          content: " ";
          display: block;
          margin: 0 auto;
          position: relative;
          height: 3px;
          top: 3px;
          width: 0;
          background-color: $green;
          transition: all 150ms ease-in-out;
        }
      }

      a.btn-wycena {
        background-color: $green;
        color: white;
        border-radius: 4px;
        &:hover {
          background: white;
        }
      }
    }
  }

}
