@import 'vars';

.portfolio-section {
  padding: 100px 0;
  &--dark {
    background-color: $darkblack;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  flex-shrink: 0;
  width: 50%;
  background-size: cover;
  overflow: hidden;
  &__image {
    width: 100% !important;
    height: auto;
    transition: 0.3s ease-out;
  }

  &__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba($green, 0.8);
    color: $white;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s ease-out;

    &__name {
      margin: 0 0 5px 0;
      font-weight: bold;
      font-size: 1.8em;
      width: 100%;
    }

    &__short {
      font-family: $serif;
      font-size: 1.3em;
    }

    @media screen and (min-width: 768px) {
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }
  }

  &:hover {
    .portfolio-item__description {
      opacity: 1;
    }

    .portfolio-item__image {
      filter: blur(5px);
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.portfolio-text {
    margin-bottom: 10px;
}

#portfolio {
    background-color: antiquewhite;
}

.portfolio-items {
    margin: 0px;
    padding: 0px;
    display: block;
}

.portfolio-single {
  padding: 90px 0;
}

.technology-used {
  list-style: none;
  padding: 20px 0;
  .technology__item {
    display: inline-block;
    text-align: center;
    padding: 7px 30px;

    &::before {
      content: " ";
      height: 120px;
      width: 120px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(30%);
    }

    &--html::before {
      background-image: url('assets/img/html.png');
    }

    &--css::before {
      background-image: url('assets/img/css.png');
    }

    &--sass::before {
      background-image: url('assets/img/sass.png');
    }

    &--wordpress::before {
      background-image: url('assets/img/wordpress.png');
    }

    &--php::before {
      background-image: url('assets/img/php.png');
    }

    &--node::before {
      background-image: url('assets/img/node.png');
    }

    &--mongo::before {
      background-image: url('assets/img/mongo.png');
    }

    &--react::before {
      background-image: url('assets/img/react.png');
    }

    &--angular::before {
      background-image: url('assets/img/angular.png');
    }

    &--ror::before {
      background-image: url('assets/img/rails.png');
    }

    &--vue::before {
      background-image: url('assets/img/vue.png');
    }

    &--laravel::before {
      background-image: url('assets/img/laravel.png');
    }
  }
}


// Single Portfolio
.single-portfolio__screenshot {
  position: relative;
  top: 50px;
}

.single-portfolio__info {
  text-align: center;
  color: $white;
  font-family: $sans;
  h1 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
  }

  h2 {
    font-family: $serif;
    font-weight: 300;
  }
}

.single-portfolio__block {
  padding: 80px 0;
  &--small {
    padding: 30px 0 80px 0;
  }
}

.single-portfolio__image {
  min-height: 430px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
