@import 'vars';

body, html {
  height: 100%;
}

body {
  background-color: $white;
  color: #292F36;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

*::-moz-selection {
  color: $white;
  background: $green;
}

*::selection {
  color: $white;
  background: $green;
}

.subtitle {
  font-weight: 700;
  letter-spacing: $spacing;
  font-size: 1.8em;
  padding: 10px 0;
}

h1.subtitle {
  font-size: 2em;
}

.content, .content ul, ol {
  color: $grey;
  padding-bottom: 10px;
  font-size: 1.3em;
}


.oferta ul:not(.technology-used) {
  list-style: none;
  padding: 0;

  li {
    padding-left: 20px;
  }

  li::before {
    content: '\25ce ';
    font-size: 0.8em;
    color: $green;
    padding-top: 3px;
    padding-right: 15px;
    display: block;
    position: absolute;
    left: 14px;
  }
}

.__gray {
  background-color: lighten($black,80%);
}


.content {
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: $black;
  }

  p {
    font-size: 1.5em;
    font-family: $serif;
    color: $grey;
  }
}
