.availability {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $mr-dark;
  padding: 14px 15px 13px;
  margin: 0 auto;

  &__name {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-weight: 300;
    position: relative;
  }

  &__wrapper {
    text-align: center;
  }

  &__spacer {
    display: block;
    width: 1px;
    height: 16px;
    background-color: rgba($mr-white, 0.45);
    border-radius: 100%;
    margin: 0 20px;
    position: relative;
  }

  &__status {
    font-size: 9px;
    letter-spacing: 2.4px;
    position: relative;

    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      top: -1px;
    }

    &--available span {
      background-color: $mr-green;
    }

    &--limited span {
      background-color: $mr-yellow;
    }

    &--not span {
      background-color: $mr-red;
    }
  }

  &--white {
    color: $mr-white;
    border-color: $mr-white;
  }
}
