.card {
  border-radius: 5px;
  border: 1px solid $mr-grey;
  margin-bottom: 20px;
  border-radius: 18px;
  border: none;
  box-shadow: 0 0 30px 0 rgba($mr-dark, 0.22);
  color: $mr-dark;


  &__title {
    font-weight: 800;
    padding: 15px;
    border-bottom: 1px solid $mr-grey;
  }

  &__body {
    padding: 15px;
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    &--testimonial {
      border-radius: 100px;
      width: 70px;
      height: 70px;
      margin: 0 auto 10px;
    }

    &--project {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px 0;
      min-height: 307px;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;

      img {
        max-width: 85%;
      }
    }
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03px;
    text-align: center;
    margin: 0;
  }

  &__position {
    font-size: 12px;
    letter-spacing: 0.04px;
    margin: 0;
    text-align: center;
  }

  &__content {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
  }

  &--testimonial {
    padding: 25px 25px 37px;
    max-width: 500px;
    // flex: 1 0 100%;
    // flex-basis: calc(100% - 54px * 2);
    // margin: 0 17px;
  }

  &--project {
    display: block !important;
    padding: 0;

    @media screen and (max-width: $break-md-down) {
      max-width: 370px;
    }
  }

  &__project-info {
    padding: 20px;
  }

  &__project-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__company {
    font-size: 18px;
    letter-spacing: -0.46px;
    font-weight: 600;
  }

  &__category {
    font-weight: 600;
    font-size: 9px;
    letter-spacing: -0.23px;
  }
}
